.mobileHero {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 70vh;
    margin-top: 4rem;
    position: relative;
    display: none;
}

.mobileHeroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobileHeroContentTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobileHeroContentTitle {
    display: flex;
    align-items: center;
    gap: .8rem;
    position: relative;
}

.mobileHeroContentTitleCont {
    display: flex;
    align-items: center;
}

.mobileHeroContentTitleContext,
.mobileHeroContentTitleColor {
    font-size: 6rem;
    font-family: var(--bold-family);
}

.mobileHeroContentTitleContext1,
.mobileHeroContentTitleColor1 {
    font-size: 6rem;
    font-family: var(--bold-family);
}

.mobileHeroContentTitleColor {
    color: var(--primary);
}

.mobileHeroContentTitleColor1 {
    color: var(--primary);
}

.mobileHeroContentTitleFloat {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--white);
    border-radius: 50%;
    border: 2px solid var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    cursor: pointer;
    z-index: 4;
    animation: bounce .5s linear infinite alternate;
    transition: .3s all linear;
}

@keyframes bounce {
    0% {top: 0}
    50% {top: -.1.5rem}
    100% {top: -.3rem}
}

.mobileHeroContentTitleFloatIcon {
    font-size: .8rem;
    font-weight: var(--bold);
}

.mobileHeroContentTitlesText {
    font-size: 6rem;
    font-family: var(--bold-family);
    -webkit-text-stroke: 1.5px var(--black); /* WebKit (Safari, Chrome) */
    --text-stroke: 1.5px var(--black); 
    color: transparent;
}

.mobileHeroContentLoc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: .5rem;
}

.mobileHeroContentLocText {
    font-weight: var(--bold);
    color: var(--grey);
    font-size: 1.1rem;
}

.mobileHeroContentLocIcons {
    display: flex;
    align-items: center;
    gap: .9rem;
    z-index: 3;
}

.mobileHeroContentLocIconsIG {
    font-size: 1.2rem;
    color: purple;
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    --webkit-background-clip: text;
    --webkit-text-fill-color: transparent;
}

.mobileHeroContentLocIconsLink {
    font-size: 1.2rem;
    color: #0A66C2;
}

.mobileHeroButtons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    z-index: 5;
}

.mobileHeroButtonsToggle,
.mobileHeroButtonsRoad {
    padding: .9rem 1rem;
    border-radius: var(--sm-radius);
    display: flex;
    align-items: center;
    gap: .8rem;
    cursor: pointer;
}

.mobileHeroButtonsToggle {
    background-color: var(--primary);
    color: var(--white);
}

.mobileHeroButtonsToggleText {
    font-weight: var(--bold);
    font-size: 1rem;
}

.mobileHeroButtonsToggleIcon {
    font-size: 1.1rem;
}

.mobileHeroButtonsRoad {
    border: 1px solid var(--black);
    color: var(--black);
    text-decoration: none;
}

.mobileHeroButtonsRoadText {
    font-weight: var(--bold);
    font-size: 1rem;
}

.mobileHeroButtonsRoadIcon {
    font-size: 1.1rem;
}

.mobileHeroSVGMobile {
    display: none;
}

.mobileHeroSVG {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}

.mobileHeroText {
    font-size: 3.6rem;
    font-family: var(--family);
    text-align: center;
    margin-bottom: .5rem;
}

.mobileHeroTextColor {
    color: var(--primary);
}

@media screen and (max-width: 480px) {
    .mobileHero {
        height: 40vh;
        display: flex;
    }
    .mobileHeroContentTitleContext,
    .mobileHeroContentTitleColor {
        font-size: 2rem;
    }
    .mobileHeroContentTitleContext1,
    .mobileHeroContentTitleColor1 {
        font-size: 3.5rem;
    }
    .mobileHeroContentTitlesText {
        font-size: 2.5rem;
    }
    .mobileHeroContentTitleFloat {
        top: -1rem;
        padding: .3rem;
    }
    .mobileHeroContentTitleFloatIcon {
        font-size: .6rem;
    }
    .mobileHeroButtons {
        gap: 1rem;
    }
    .mobileHeroButtonsToggle,
    .mobileHeroButtonsRoad {
        padding: .7rem .8rem;
        gap: .4rem;
    }
    .mobileHeroButtonsToggleText,
    .mobileHeroButtonsRoadText {
        font-size: .8rem;
    }
    .mobileHeroButtonsToggleIcon,
    .mobileHeroButtonsRoadIcon {
        font-size: .9rem;
    }
    .mobileHeroContentLocText {
        font-size: .9rem;
    }
    .mobileHeroText {
        font-size: 1.5rem;
    }
    .mobileHeroContentLocIconsIG,
    .mobileHeroContentLocIconsLink {
        font-size: 1rem;
    }
    .mobileHeroSVG {
        display: none;
    }
    .mobileHeroSVGMobile {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        z-index: 1;
    }
    
}